table td {
  width: 25px;
  height: 25px;
  margin: 0;
}
td {
  display: table-cell;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.grid {
  border-collapse: collapse;
  margin: auto;
}
div.actions {
  position: relative;
  text-align: center;
}
div.description {
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: none;
  text-align: center;
}
button:hover {
  background-color: cornflowerblue;
}

.Celda {
  border: groove 0.5px;
}
.Celda:hover {
  background-color: #4e4d53;
}
.Celda-final {
  background-color: #ff0000;
  border: groove 0.5px;
}
.Celda-start {
  background-color: #3943b7;
  border: groove 0.5px;
}
.Celda-locked {
  background-color: #0c0d25;
  border: groove 0.5px;
}
.Celda-visited {
  background-color: #3fdec9;
  border: groove 0.5px;
}
.Celda-path {
  background-color: #f8b60a;
  border: groove 0.5px;
}

div.Celda-start {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
div.Celda-final {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
div.Celda-locked {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
div.Celda-visited {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
div.Celda-path {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
div.Celda {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
p {
  margin: 3px;
  display: inline;
}
h2 {
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}
