.container {
  justify-content: center;
}
.stage {
  display: inline-block;
}
.Descripcion {
  margin: 50px;
  display: inline-block;
  position: fixed;
  vertical-align: text-top;
  text-align: center;
}
