.Celda {
  border: solid 0.2px;
  height: 20px;
  max-width: 25px;
  display: inline-block;
  inline-size: 25px;
  margin-top: -5px;
}
.Celda:hover {
  transform: scale(1.2);
}

.Celda-selected {
  background-color: black;
  border: solid 0.2px;
  height: 20px;
  max-width: 25px;
  display: inline-block;
  inline-size: 25px;
  margin-top: -5px;
}
