.Celda {
  border: solid 0.2px;
  height: 20px;
  max-width: 25px;
  display: inline-block;
  inline-size: 25px;
  margin-top: -5px;
}
.Celda:hover {
  transform: scale(1.1);
}

.Celda-selected {
  background-color: rgba(88, 56, 163, 0.767);
  border: solid 0.2px;
  height: 20px;
  max-width: 25px;
  display: inline-block;
  inline-size: 25px;
  margin-top: -5px;
}
.Celda-final {
  background-color: #c5271c;
  border: solid 0.2px;
  height: 20px;
  max-width: 25px;
  display: inline-block;
  inline-size: 25px;
  margin-top: -5px;
}
.Celda-start {
  background-color: #1c8cd6;
  border: solid 0.2px;
  height: 20px;
  max-width: 25px;
  display: inline-block;
  inline-size: 25px;
  margin-top: -5px;
}
